body {
    background-color: white;
    width: 1024px;
    height: 768px;
    overflow: hidden;
}

/*HEADER*/
.blackBGabove {
    width: 1930px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #231F20;
}

.writingHeader {
    color: #FFF;
    font-family: Microsoft YaHei UI;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: -20px;
}

.poolSkimmers {
    position: absolute;
    left: 400px;
    bottom: 225px;
}

.psJapanese {
    color: #231F20;
    font-family: Microsoft YaHei UI;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 40px;
    top: -80px;
}

.psEnglish {
    color: #231F20;
    font-family: Microsoft YaHei UI;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 25px;
    bottom: -90px;
    text-align: center;
}

.waterFilterAdvisor
{
    position: absolute;
    left: 800px;
    bottom: 225px;
}

.wfJapanese {
    color: #231F20;
    font-family: Microsoft YaHei UI;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 20px;
    top: -80px;
}

.wfEnglish {
    color: #231F20;
    font-family: Microsoft YaHei UI;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 0px;
    bottom: -110px;
    text-align: center;
}


/*FOOTER*/
.blackBGbelow {
    width: 1930px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #231F20;
}

.homeWord {
    color: #FFF;
    font-family: Microsoft YaHei UI;
    font-size: 16.3px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 27px;
    bottom: 0px;
}

.home {
    width: 0px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #FFF;
    position: absolute;
    left: 8px;
    bottom: 50px;
}

.documents {
    color: #FFF;
    font-family: Microsoft YaHei UI;
    font-size: 16.3px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 105px;
    bottom: 0px;
}

/*CONTACTS*/
.mail {
    position: absolute;
    left: 550px;
    bottom: 5px;
}

.linkedIn {
    position: absolute;
    left: 600px;
    bottom: 5px;
}

.onlineJobsPH {
    position: absolute;
    left: 650px;
    bottom: 5px;
}

.upwork {
    position: absolute;
    left: 700px;
    bottom: 5px;
}

.skype {
    position: absolute;
    left: 750px;
    bottom: 5px;
}

.discord {
    position: absolute;
    left: 800px;
    bottom: 5px;
}

.telegram {
    position: absolute;
    left: 850px;
    bottom: 5px;
}

.whatsApp {
    position: absolute;
    left: 900px;
    bottom: 5px;
}